Repository njdifiore91/artifact-k75eey, changes with the owners that .github/CODEOWNERS names for each.
All owners: @artknowledgegraph/core-maintainers, @artknowledgegraph/android-team, @artknowledgegraph/ios-team, @artknowledgegraph/backend-team, @artknowledgegraph/security-team, @artknowledgegraph/data-team, @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @artknowledgegraph/core-maintainers

Add public-samples/artifact-k75eey/.github/dependabot.yml
  .github/dependabot.yml
Owners: @artknowledgegraph/core-maintainers

Add public-samples/artifact-k75eey/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @artknowledgegraph/core-maintainers

Add public-samples/artifact-k75eey/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @artknowledgegraph/core-maintainers

Add public-samples/artifact-k75eey/.github/workflows/android-build.yml
  .github/workflows/android-build.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/.github/workflows/backend-build.yml
  .github/workflows/backend-build.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/.github/workflows/backend-deploy.yml
  .github/workflows/backend-deploy.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/.github/workflows/code-quality.yml
  .github/workflows/code-quality.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/.github/workflows/integration-tests.yml
  .github/workflows/integration-tests.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/.github/workflows/ios-build.yml
  .github/workflows/ios-build.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/.github/workflows/mobile-deploy.yml
  .github/workflows/mobile-deploy.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/.github/workflows/web-build.yml
  .github/workflows/web-build.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @artknowledgegraph/core-maintainers

Add public-samples/artifact-k75eey/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @artknowledgegraph/core-maintainers

Add public-samples/artifact-k75eey/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @artknowledgegraph/core-maintainers

Add public-samples/artifact-k75eey/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @artknowledgegraph/core-maintainers

Add public-samples/artifact-k75eey/infrastructure/monitoring/README.md
  infrastructure/monitoring/README.md
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/monitoring/grafana/dashboards/api-gateway.json
  infrastructure/monitoring/grafana/dashboards/api-gateway.json
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/monitoring/grafana/dashboards/auth-service.json
  infrastructure/monitoring/grafana/dashboards/auth-service.json
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/monitoring/grafana/dashboards/data-processor.json
  infrastructure/monitoring/grafana/dashboards/data-processor.json
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/monitoring/grafana/dashboards/graph-service.json
  infrastructure/monitoring/grafana/dashboards/graph-service.json
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/monitoring/grafana/dashboards/infrastructure.json
  infrastructure/monitoring/grafana/dashboards/infrastructure.json
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/monitoring/grafana/dashboards/mobile-metrics.json
  infrastructure/monitoring/grafana/dashboards/mobile-metrics.json
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/monitoring/loki/loki.yml
  infrastructure/monitoring/loki/loki.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/monitoring/prometheus/rules/alerts.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/monitoring/prometheus/rules/recording.yml
  infrastructure/monitoring/prometheus/rules/recording.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/monitoring/tempo/tempo.yml
  infrastructure/monitoring/tempo/tempo.yml
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/scripts/apply-terraform.sh
  infrastructure/scripts/apply-terraform.sh
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/scripts/backup-databases.sh
  infrastructure/scripts/backup-databases.sh
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/scripts/destroy-terraform.sh
  infrastructure/scripts/destroy-terraform.sh
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/scripts/init-terraform.sh
  infrastructure/scripts/init-terraform.sh
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/scripts/rotate-secrets.sh
  infrastructure/scripts/rotate-secrets.sh
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/scripts/setup-alerts.sh
  infrastructure/scripts/setup-alerts.sh
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/scripts/setup-logging.sh
  infrastructure/scripts/setup-logging.sh
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/scripts/setup-monitoring.sh
  infrastructure/scripts/setup-monitoring.sh
Owners: @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/infrastructure/terraform/README.md
  infrastructure/terraform/README.md
Owners: @artknowledgegraph/devops-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @artknowledgegraph/devops-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @artknowledgegraph/devops-team, @artknowledgegraph/security-team

.github/CODEOWNERS:

# Require review from core maintainers team
* @artknowledgegraph/core-maintainers

# Mobile Platform Ownership
# Android application files
src/android/** @artknowledgegraph/android-team

# iOS application files
src/ios/** @artknowledgegraph/ios-team

# Backend Services Ownership
# General backend services
src/backend/** @artknowledgegraph/backend-team

# Authentication service - requires security review
src/backend/auth_service/** @artknowledgegraph/security-team @artknowledgegraph/backend-team

# Graph service - requires data team review
src/backend/graph_service/** @artknowledgegraph/data-team @artknowledgegraph/backend-team

# API Gateway - requires security review
src/backend/api_gateway/** @artknowledgegraph/backend-team @artknowledgegraph/security-team

# Infrastructure Configuration
# General infrastructure files
infrastructure/** @artknowledgegraph/devops-team

# Infrastructure as Code - requires security review
infrastructure/terraform/** @artknowledgegraph/devops-team @artknowledgegraph/security-team

# CI/CD Configuration
# GitHub Actions workflows
.github/workflows/** @artknowledgegraph/devops-team
