Repository njdifiore91/artifact-k75eey, changes with the owners that .github/CODEOWNERS names for each.
All owners: @artknowledgegraph/core-maintainers, @artknowledgegraph/android-team, @artknowledgegraph/ios-team, @artknowledgegraph/backend-team, @artknowledgegraph/security-team, @artknowledgegraph/data-team, @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/src/backend/auth_service/config.py
  src/backend/auth_service/config.py
Owners: @artknowledgegraph/security-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/auth_service/main.py
  src/backend/auth_service/main.py
Owners: @artknowledgegraph/security-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/auth_service/models/__init__.py
  src/backend/auth_service/models/__init__.py
Owners: @artknowledgegraph/security-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/auth_service/models/user.py
  src/backend/auth_service/models/user.py
Owners: @artknowledgegraph/security-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/auth_service/services/__init__.py
  src/backend/auth_service/services/__init__.py
Owners: @artknowledgegraph/security-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/auth_service/services/jwt.py
  src/backend/auth_service/services/jwt.py
Owners: @artknowledgegraph/security-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/auth_service/services/oauth.py
  src/backend/auth_service/services/oauth.py
Owners: @artknowledgegraph/security-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/auth_service/services/password.py
  src/backend/auth_service/services/password.py
Owners: @artknowledgegraph/security-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/data_processor/__init__.py
  src/backend/data_processor/__init__.py
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/data_processor/config.py
  src/backend/data_processor/config.py
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/data_processor/main.py
  src/backend/data_processor/main.py
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/data_processor/services/__init__.py
  src/backend/data_processor/services/__init__.py
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/data_processor/services/getty.py
  src/backend/data_processor/services/getty.py
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/data_processor/services/google_arts.py
  src/backend/data_processor/services/google_arts.py
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/data_processor/services/wikidata.py
  src/backend/data_processor/services/wikidata.py
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/data_processor/utils/__init__.py
  src/backend/data_processor/utils/__init__.py
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/data_processor/utils/image.py
  src/backend/data_processor/utils/image.py
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/data_processor/utils/metadata.py
  src/backend/data_processor/utils/metadata.py
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/__init__.py
  src/backend/graph_service/__init__.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/config.py
  src/backend/graph_service/config.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/main.py
  src/backend/graph_service/main.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/models/__init__.py
  src/backend/graph_service/models/__init__.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/models/artwork.py
  src/backend/graph_service/models/artwork.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/models/node.py
  src/backend/graph_service/models/node.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/models/relationship.py
  src/backend/graph_service/models/relationship.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/services/__init__.py
  src/backend/graph_service/services/__init__.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/services/graph_analyzer.py
  src/backend/graph_service/services/graph_analyzer.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/services/graph_generator.py
  src/backend/graph_service/services/graph_generator.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/services/neo4j.py
  src/backend/graph_service/services/neo4j.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/utils/__init__.py
  src/backend/graph_service/utils/__init__.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/utils/graph_algorithms.py
  src/backend/graph_service/utils/graph_algorithms.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/graph_service/utils/visualization.py
  src/backend/graph_service/utils/visualization.py
Owners: @artknowledgegraph/data-team, @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/kubernetes/api-gateway-deployment.yaml
  src/backend/kubernetes/api-gateway-deployment.yaml
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/kubernetes/auth-service-deployment.yaml
  src/backend/kubernetes/auth-service-deployment.yaml
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/kubernetes/configmap.yaml
  src/backend/kubernetes/configmap.yaml
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/kubernetes/data-processor-deployment.yaml
  src/backend/kubernetes/data-processor-deployment.yaml
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/kubernetes/graph-service-deployment.yaml
  src/backend/kubernetes/graph-service-deployment.yaml
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/kubernetes/ingress.yaml
  src/backend/kubernetes/ingress.yaml
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/kubernetes/neo4j-statefulset.yaml
  src/backend/kubernetes/neo4j-statefulset.yaml
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/kubernetes/postgres-statefulset.yaml
  src/backend/kubernetes/postgres-statefulset.yaml
Owners: @artknowledgegraph/backend-team

.github/CODEOWNERS:

# Require review from core maintainers team
* @artknowledgegraph/core-maintainers

# Mobile Platform Ownership
# Android application files
src/android/** @artknowledgegraph/android-team

# iOS application files
src/ios/** @artknowledgegraph/ios-team

# Backend Services Ownership
# General backend services
src/backend/** @artknowledgegraph/backend-team

# Authentication service - requires security review
src/backend/auth_service/** @artknowledgegraph/security-team @artknowledgegraph/backend-team

# Graph service - requires data team review
src/backend/graph_service/** @artknowledgegraph/data-team @artknowledgegraph/backend-team

# API Gateway - requires security review
src/backend/api_gateway/** @artknowledgegraph/backend-team @artknowledgegraph/security-team

# Infrastructure Configuration
# General infrastructure files
infrastructure/** @artknowledgegraph/devops-team

# Infrastructure as Code - requires security review
infrastructure/terraform/** @artknowledgegraph/devops-team @artknowledgegraph/security-team

# CI/CD Configuration
# GitHub Actions workflows
.github/workflows/** @artknowledgegraph/devops-team
