Repository njdifiore91/artifact-k75eey, changes with the owners that .github/CODEOWNERS names for each.
All owners: @artknowledgegraph/core-maintainers, @artknowledgegraph/android-team, @artknowledgegraph/ios-team, @artknowledgegraph/backend-team, @artknowledgegraph/security-team, @artknowledgegraph/data-team, @artknowledgegraph/devops-team

Add public-samples/artifact-k75eey/src/android/app/src/main/res/values-night/colors.xml
  src/android/app/src/main/res/values-night/colors.xml
Owners: @artknowledgegraph/android-team

Add public-samples/artifact-k75eey/src/android/app/src/main/res/values-night/styles.xml
  src/android/app/src/main/res/values-night/styles.xml
Owners: @artknowledgegraph/android-team

Add public-samples/artifact-k75eey/src/android/app/src/main/res/values-v23/styles.xml
  src/android/app/src/main/res/values-v23/styles.xml
Owners: @artknowledgegraph/android-team

Add public-samples/artifact-k75eey/src/android/app/src/main/res/values-v27/styles.xml
  src/android/app/src/main/res/values-v27/styles.xml
Owners: @artknowledgegraph/android-team

Add public-samples/artifact-k75eey/src/android/app/src/main/res/values/colors.xml
  src/android/app/src/main/res/values/colors.xml
Owners: @artknowledgegraph/android-team

Add public-samples/artifact-k75eey/src/android/app/src/main/res/values/strings.xml
  src/android/app/src/main/res/values/strings.xml
Owners: @artknowledgegraph/android-team

Add public-samples/artifact-k75eey/src/android/app/src/main/res/values/styles.xml
  src/android/app/src/main/res/values/styles.xml
Owners: @artknowledgegraph/android-team

Add public-samples/artifact-k75eey/src/android/app/src/test/java/com/artknowledgegraph/app/ExampleUnitTest.kt
  src/android/app/src/test/java/com/artknowledgegraph/app/ExampleUnitTest.kt
Owners: @artknowledgegraph/android-team

Add public-samples/artifact-k75eey/src/android/gradle/wrapper/gradle-wrapper.jar
  src/android/gradle/wrapper/gradle-wrapper.jar
Owners: @artknowledgegraph/android-team

Add public-samples/artifact-k75eey/src/android/gradle/wrapper/gradle-wrapper.properties
  src/android/gradle/wrapper/gradle-wrapper.properties
Owners: @artknowledgegraph/android-team

Add public-samples/artifact-k75eey/src/android/keystore/debug.keystore
  src/android/keystore/debug.keystore
Owners: @artknowledgegraph/android-team

Add public-samples/artifact-k75eey/src/android/keystore/release.keystore
  src/android/keystore/release.keystore
Owners: @artknowledgegraph/android-team

Add public-samples/artifact-k75eey/src/backend/.env.example
  src/backend/.env.example
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/.gitignore
  src/backend/.gitignore
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/Dockerfile.dev
  src/backend/Dockerfile.dev
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/README.md
  src/backend/README.md
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/docker-compose.dev.yml
  src/backend/docker-compose.dev.yml
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/poetry.lock
  src/backend/poetry.lock
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/setup.py
  src/backend/setup.py
Owners: @artknowledgegraph/backend-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/__init__.py
  src/backend/api_gateway/__init__.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/config.py
  src/backend/api_gateway/config.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/main.py
  src/backend/api_gateway/main.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/middleware/__init__.py
  src/backend/api_gateway/middleware/__init__.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/middleware/auth.py
  src/backend/api_gateway/middleware/auth.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/middleware/cors.py
  src/backend/api_gateway/middleware/cors.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/middleware/logging.py
  src/backend/api_gateway/middleware/logging.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/routes/__init__.py
  src/backend/api_gateway/routes/__init__.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/routes/artwork.py
  src/backend/api_gateway/routes/artwork.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/routes/graph.py
  src/backend/api_gateway/routes/graph.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/routes/search.py
  src/backend/api_gateway/routes/search.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/routes/user.py
  src/backend/api_gateway/routes/user.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/schemas/__init__.py
  src/backend/api_gateway/schemas/__init__.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/schemas/artwork.py
  src/backend/api_gateway/schemas/artwork.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/schemas/graph.py
  src/backend/api_gateway/schemas/graph.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/api_gateway/schemas/user.py
  src/backend/api_gateway/schemas/user.py
Owners: @artknowledgegraph/backend-team, @artknowledgegraph/security-team

Add public-samples/artifact-k75eey/src/backend/auth_service/__init__.py
  src/backend/auth_service/__init__.py
Owners: @artknowledgegraph/security-team, @artknowledgegraph/backend-team

.github/CODEOWNERS:

# Require review from core maintainers team
* @artknowledgegraph/core-maintainers

# Mobile Platform Ownership
# Android application files
src/android/** @artknowledgegraph/android-team

# iOS application files
src/ios/** @artknowledgegraph/ios-team

# Backend Services Ownership
# General backend services
src/backend/** @artknowledgegraph/backend-team

# Authentication service - requires security review
src/backend/auth_service/** @artknowledgegraph/security-team @artknowledgegraph/backend-team

# Graph service - requires data team review
src/backend/graph_service/** @artknowledgegraph/data-team @artknowledgegraph/backend-team

# API Gateway - requires security review
src/backend/api_gateway/** @artknowledgegraph/backend-team @artknowledgegraph/security-team

# Infrastructure Configuration
# General infrastructure files
infrastructure/** @artknowledgegraph/devops-team

# Infrastructure as Code - requires security review
infrastructure/terraform/** @artknowledgegraph/devops-team @artknowledgegraph/security-team

# CI/CD Configuration
# GitHub Actions workflows
.github/workflows/** @artknowledgegraph/devops-team
